  <div className="row">
				<div className="col-sm-6 col-md-6">
					  <form onSubmit={this.onSubmit}>
						<input
						  ref='autocomplete'
						  type="text"
						  placeholder="Enter a location" />
						<RaisedButton type="submit" label="Search" primary />
					  </form>
					  <div>
						<div>Lat: {position && position.lat()}</div>
						<div>Lng: {position && position.lng()}</div>
					  </div>
				 <div className="row marginleft12">
					<div className='col-sm-6 col-md-6 card-heading'>
					<img src={'images/h1.jpg'} alt="boohoo" className="img-responsive"/>
					<div className="floatLeft">
					
						<h4><a href="" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)">Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)</a></h4>
					
						<p className="margin5">
						30 St George's Drive, Pimlico, Victoria, SW1V 4BN, London
						</p>
						<p className="margin5">
						Open all hours! 24 hours a day, 7 days a week
						</p>
				<div className="row">
						<div className='col-sm-5'>
						<RaisedButton  className="button-default" type="submit" label="Details" />
						</div>
						<div className='col-sm-5'>
						<RaisedButton type="submit" label="Book" primary />
						</div>
						<div className='col-sm-1'>
						<span className="glyphicon glyphicon-heart" style={{color:'red'}}></span>
						</div>
						<div className='col-sm-1'>
						</div>
				</div>	
			</div>
			</div>
			
			<div className='col-sm-6 col-md-6 card-heading'>
				<img src={'images/h2.jpg'} alt="boohoo" className="img-responsive"/>
				<div className="floatLeft">
				
							<h4><a href="" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)">Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)</a></h4>
							
							<p className="margin5">
							30 St George's Drive, Pimlico, Victoria, SW1V 4BN, London
							</p>
							<p className="margin5">
							Open all hours! 24 hours a day, 7 days a week
							</p>
						<div className="row">
								<div className='col-sm-5'>
								<RaisedButton type="submit" label="Details" default />
								</div>
								<div className='col-sm-5'>
								<RaisedButton type="submit" label="Book" primary />
								</div>
								<div className='col-sm-1'>
								<span className="glyphicon glyphicon-heart" style={{color:'red'}}></span>
								</div>
								<div className='col-sm-1'>
						
						</div>
						</div>
				</div>
			</div>
			
			</div>
		</div>
		<img src={img_url} alt="campground" ref="cg_image" style={{width:200, height:100}} onClick={() =>this.props.onMarkerClick(this.getMarker(this.props.title))}></img>

			
						
						
						<div className="col-sm-6 col-md-6">
											<Map {...props}

											center={this.state.position}
											centerAroundCurrentLocation={false}

											>
												<Marker position={this.state.position} />
												<Marker
												title={'Marked by Renu'}
												name={'SOMA'}
												position={{lat: 37.778519, lng: -122.405640}} />
												<Marker
												title={'Marked by Renu'}
												name={'China Yanji'}
												position={{lat: 43.4970938, lng: 121.9943049}} />
												<Marker
												title={'Marked by Renu'}
												name={'Dolores park'}
												position={{lat: 22.7195687, lng: 75.85772580000003}} />
												<Marker />
											</Map>
									</div>
      </div>