<li class="list_item" onclick="onListItemClick(this, true)" item-id="LueX0FhvGUT2PQ" lat="35.66209" lon="139.699568" item-index="0">
  <div class="thumb">
  <img alt="Thumbnail" src="https://ecbo-production.s3-ap-northeast-1.amazonaws.com/space_photo_images/aburmN25xFXxPA/63ed86d8bf0ea2948be739e6d1284ab6296c5a5b.">
</div>
<div class="right-content">
  <div class="name-area">
    <p class="name" style="font-size: 17px;">
      Cafe mamehico Koen-Dori
    </p>
    <div class="arrow-area">
      <img data-hidpi-src="/assets/arrow/arrow_right_blue@2x-25092ec460b3cf686beaafe4602b00c0d4bc3ab696ef007d53ebd7c8d7b78048.png" width="31" class="arrow-right-selected default-invisible" alt="Arrow Right" src="/assets/arrow/arrow_right_blue-4a9c5309ba330a4d5b4edbd29fef9c6ef450cc344488e8e89ace1c4a90d3b7b9.png">
      <img data-hidpi-src="/assets/arrow/arrow_right_white@2x-4865d90d9a893b23b4bd8e049867faae0f130badc2539b08a169d4c38b7e7dfd.png" width="31" class="arrow-right" alt="Arrow Right" src="/assets/arrow/arrow_right_white-134c63c69922ce7034c029c3615c778e5e4d6626283af814f1cd08fc4bfddcb5.png">
    </div>
  </div>
  <div class="info-1">
    <div class="distance-icon-area">
      <img data-hidpi-src="/assets/space/icon_gps_blue@2x-bf9490817ca33feed682f3859a38e0a77d26b1bff2a35f55df2f228399444ab1.png" class="distance-icon-selected default-invisible" alt="Distance From Station" src="/assets/space/icon_gps_blue-33b82845e8a034da444d6923829fb049b29400d8aafef505579dd4c66ad4df55.png">
      <img data-hidpi-src="/assets/space/icon_gps@2x-91ef5c3ff1c5858c619e5bcb3a8cc7c66c1ca7deff041b5dcc54e0829374ee55.png" class="distance-icon" alt="Distance From Station" src="/assets/space/icon_gps-3d0af9d973a7586805ad2186fef8bbbeac2c962ca11d3b213f8a6da9c910a3a0.png">
    </div>
    <div class="distance">
        4min
    </div>
    <div class="locker-num-icon-area">
      <img data-hidpi-src="/assets/luggage/icon_bag_blue@2x-2ff2ed3174a9aaf1932f1f7b51e14fc08ceeb7a7b8a2043310eaea61de6ddac1.png" class="locker-num-icon-selected default-invisible" alt="Number of Available Lockers" src="/assets/luggage/icon_bag_blue-8f09fd8dd021228dc4eb12da436b5a31edb1803d49d32139b3b9477a1fab17de.png">
      <img data-hidpi-src="/assets/luggage/icon_bag@2x-903834d20a74b7da42c3ae22d28056e3437b96e766b3c46e6850c02b4616e624.png" class="locker-num-icon" alt="Number of Available Lockers" src="/assets/luggage/icon_bag-4a0fdb805f3273ac3d1d31e9ac28e985ade3913ab7b85b9c4a317e0866f860b0.png">
    </div>
    <div class="locker-num">
      ×8
    </div>
  </div>
  <div class="info-2">
    <div class="item">
      <div class="wifi-icon-area">
        <img class="wifi-icon-selected default-invisible" alt="Wifi icon" src="/assets/space/icon_wifi_blue-8ce06c366ee82f7941777032c0120e8c959528ff72132549c5cff9041f7bf758.png">
        <img data-hidpi-src="/assets/space/icon_wifi@2x-ef9590c21258a090bfeae27e0999cd5f362eaad756cba14f387bdb17613fea84.png" class="wifi-icon" alt="Wifi icon" src="/assets/space/icon_wifi-ab9ed9aa2adc3a9b9b95bee55759a01c03a72abfb4952a5b17dafdce5ee39a81.png">
      </div>
      <img data-hidpi-src="/assets/icon_tick@2x-5b349989b5e1f8121447b2634f4af883305fe0897cf07c384a9f1009b1bc0f35.png" width="22" class="wifi-check-icon" alt="Wifi Availability Check" src="/assets/icon_tick-f8e94c85dd6f49230af24856a305638608908a1157c2b2f2969e4d1bad0232e3.png">
    </div>
    <div class="item">
      <div class="charge-icon-area">
        <img data-hidpi-src="/assets/space/icon_plug_blue@2x-2334d2ff993d6128225a19bb08f71afa7bbc06ab341690f8d531d78cf6711be7.png" class="charge-icon-selected default-invisible" alt="Charge icon" src="/assets/space/icon_plug_blue-caff946c17d282fb24b0676d72b819a54de4d407cb35d11b411265edde5ce544.png">
        <img data-hidpi-src="/assets/space/icon_plug@2x-f8a80334f6eb94a8843ad352cd213116a0d67e2e86ff72cc87d4c58306d013e0.png" class="charge-icon" alt="Charge icon" src="/assets/space/icon_plug-2cd864ed28a0f8b3f5d547fba2c02cbe46819536761ec3bce5671db580ae629e.png">
      </div>
      <img data-hidpi-src="/assets/icon_tick@2x-5b349989b5e1f8121447b2634f4af883305fe0897cf07c384a9f1009b1bc0f35.png" width="22" class="charge-check-icon" alt="Charge Capability Check" src="/assets/icon_tick-f8e94c85dd6f49230af24856a305638608908a1157c2b2f2969e4d1bad0232e3.png">
    </div>
    <div class="item">
      <div class="english-menu-icon-area">
        <img data-hidpi-src="/assets/space/eng_menu_small_blue@2x-d7d1f8dfb85a533be6c9f37abb599b634b87ca993faed46c2a055537ebf82ec9.png" class="english-menu-icon-selected default-invisible" alt="English Menu icon" src="/assets/space/eng_menu_small_blue-9b474914678a0d4f36d040e94563c5ab50e4e03b709babdf767fe83dcb5e1294.png">
        <img data-hidpi-src="/assets/space/eng_menu_small_white@2x-dfe206b6154c8f70b9643460dc9f0f99835abefcba1aee8c15c43f8d2b094466.png" class="english-menu-icon" alt="English Menu icon" src="/assets/space/eng_menu_small_white-a7485a8b6ec39288ad704f621c69a924505ed80d0466a6d849fad1f67381e491.png">
      </div>
      <img data-hidpi-src="/assets/icon_tick@2x-5b349989b5e1f8121447b2634f4af883305fe0897cf07c384a9f1009b1bc0f35.png" width="22" class="english-menu-check-icon" alt="English Menu Check" src="/assets/icon_tick-f8e94c85dd6f49230af24856a305638608908a1157c2b2f2969e4d1bad0232e3.png">
    </div>
  </div>
</div>

</li>