<section id="bag-size-area" class="inline-section bottom-separate">
        <div class="section-icon"><img width="24" src="/assets/space/icon_suitcase_blue-5f31d7afc0166ee1a8ae7d83f2b38613f9e259fad2eddb76517c69ac45620994.png" alt="Icon suitcase blue"></div>
        <div class="section-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Number of packages that can be stored</font></font></div>
        <div class="section-value" id="luggages">
          <span class="bag-size"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bag size: 5 </font></font></span>
          <span class="suitecase-size"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suitcase size: 3</font></font></span>
        </div>
      </section>