<div id="full">
	<Header className="headerstyleShop" style={{marginTop:'0px'}}>
	
	  </Header>
				<div className="shopImg">
				<div className="fadeImage">
						<div className="container" style={{clear: 'both',paddingTop:'30px',wordWrap:'break-word'}}>
						<div className="card-heading1">
							<h1 className="white font40">Make easy money renting your storage space</h1>
							<h4 className="white font22">Store Luggage for Tourists </h4>
						</div>
						</div>
				  </div>
				</div>
				<div className="container-fluid greyBack">
				 <h3 className="textCentre font29 fontThemeColor margin_top30"><b>Fill this form to express your interest to become a Host</b></h3>
		
		<div className="container">
		<div className="row margin_top30">
		<div className="col-sm-12 col-md-12">
	   
		  <Paper style={paperstyle} zDepth={5}>
				<div className="margin12">
				  <div className="row">
					  <div className="col-sm-6 col-md-6 button-line">
										
						</div> 
						 <div className="col-sm-6 col-md-6 button-line">
							<Goback />
						 </div>
				
			  </div>
				   <form action="/">
				  
						<div className="field-line">
						<TextField
						  floatingLabelText="Name"
						  name="name"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					  
						<div className="field-line">
						<TextField
						  floatingLabelText="Email Address"
						  name="name"
						  fullWidth={true}
							underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					  
					  <div className="field-line">
						<TextField
						  floatingLabelText="Address"
						  name="password"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					   <div className="field-line">
						<TextField
						  floatingLabelText="City"
						  name="password"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					   <div className="field-line">
						<TextField
						  floatingLabelText="Bussiness Name"
						  name="password"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					   <div className="field-line">
						<TextField
						  floatingLabelText="Opening Hours"
						  name="password"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					
					  
					 <div className="field-line">
						<TextField
						  floatingLabelText="Payment Account"
						  name="password"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					  
					  
					   <div className="field-line">
						<TextField
						  floatingLabelText="Photo Url"
						  name="name"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}
						/>
					  </div>
					  
						 <div className="field-line">
						<TextField
						  floatingLabelText="Max number for storing bag and suitcase"
						  name="name"
						  fullWidth={true}
						  underlineFocusStyle={styles.underlineStyle}
							 floatingLabelFocusStyle={styles.floatingLabelFocusStyle}/>
					  </div>
					  
						 <div className="">
					
						 <PlacesAutocomplete
							onSelect={this.handleSelect}
							autocompleteItem={AutocompleteItem}
							onEnterKeyDown={this.handleSelect}
							classNames={cssClasses}
							inputProps={inputProps}
							styles={myStyles}
						  />
						  {this.state.loading ? <div><i className="fa fa-spinner fa-pulse fa-3x fa-fw Demo__spinner" /></div> : null}
						  {!this.state.loading && this.state.geocodeResults ?
							<div className='geocoding-results'>{this.state.geocodeResults}</div> :
						  null}
					  </div>
					  
					  
					  <div className="button-line">
										<RaisedButton disabled={this.state.submitDisabled} type="button" label="Add Store" primary />
						</div> 
					
					  
					  
					  
					  
					

					</form>
			</div>
		
			</Paper>
	  </div>
			
		
			
		</div>
		</div>
		</div>
</div>