<div className="container" style={headerstyle1}>
	 <div className="">
	  <div>
	
		<div>
			   <Modal
				  isOpen={this.state.modalIsOpen}
				  onAfterOpen={this.afterOpenModal}
				  onRequestClose={this.closeModal}
				  style={customStyles}
				  contentLabel="Example Modal"
        >
		<button type="button" className="close" aria-label="Close" style={{fontSize:'50px'}} onClick={this.closeModal}>
			<span aria-hidden="true">&times;</span>
			</button>
		
		<div className="container" style={divstyle}>	 
		
			<div className="row">
			
			<div>
			  <ul className="nav nav-tabs">
				<li className="active margin12"><a  className="white" data-toggle="tab" href="#stripe">Stripe</a></li>
				<li className="margin12"><Link className="white" data-toggle="tab" to="#paypal">Paypal</Link></li>
			 </ul>
			 
			 </div>
			 
			 <div className="tab-content">
				<div id="stripe" className="tab-pane fade in active">
				  <StripePage />
				</div>
				
				<div id="paypal" className="tab-pane fade">
				  <PaypalPage />
				</div>
			 
			</div>
		</div>
		</div>
		
		</Modal>
		
		
		<div className="container" style={{backgroundColor:'rgba(6, 6, 6, 0.66)', borderRadius: '30px', padding: '25px'}}>
				<div className="row"> 

					<div className="col-md-12" style={{marginTop:'30px'}} >

									  <ul className="nav nav-tabs">	
									  
									  <li className="active margin12"><Link data-toggle="tab" to="#menu1">My Account</Link></li>
										
										<li className="margin12"><a data-toggle="tab" href="#home">My Bookings</a></li>
										
										<li className="margin12" onClick={this.openModal}><a data-toggle="tab" href="#menu2">Payment Details</a></li>
										
									</ul>
					</div>
	
		
</div>

											
  </div>
	</div>
	  </div>
	  </div>
	</div>