<div id="search-result-0" class="col-xs-12 col-sm-4 margin_top10 search-results">
                            <div class="image_container">
                                <div id="carousel-example-generic0" class="carousel slide" data-ride="carousel">
                                                                        <div class="carousel-inner" role="listbox" onmouseover="showme('0')" onmouseout="hideme('0')">
                                                                                                                                <a href="https://www.citystasher.com/listings/victoria-left-luggage-hanover-hotel-247" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)" class="item bg_img active" style="background-image:url(h1.jpg);"></a>
                                                                                </div>

                                </div><!--carousel-example-generic end-->

                                <img alt="Our Feefo product rating" width="175px" height="44px" border="0" src="https://api.feefo.com/api/logo?merchantidentifier=citystasher&amp;vendorref=6828&amp;servicedefault=true " title="Our Feefo product rating">

                                <div style="float: left;">
                                    <h4 class="airfcfx-search-listing-name margin_top10 margin_left10 fa-1x text_cityblue">
                                        <a href="https://www.citystasher.com/listings/victoria-left-luggage-hanover-hotel-247" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)">Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)</a>
                                    </h4>
                                    <p class="small margin_left10 text_gray1">
                                        <img src="../../images/map-icon.png">
                                        <b>30 St George's Drive, Pimlico, Victoria, SW1V 4BN, London</b>
                                    </p>
                                    <p class="small margin_left10 text_gray1">
                                        <img src="../../images/openinghours-icon.png">
                                        <b>Open all hours! 24 hours a day, 7 days a week</b>
                                    </p>
                                </div>

                                <div style="float: left; bottom: 0px; position: absolute; width: 100%; padding-right: 15px; padding-left: 15px;"><button type="button" id="detailsbtn" class="btn-pad btn btn-danger" style="width: 100px; border: 1px lightgrey solid !important; background-color: white !important; margin-right: 10px;"><a href="https://www.citystasher.com/listings/victoria-left-luggage-hanover-hotel-247" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)"><b>Details</b></a></button><button type="button" id="bookbtn" class="btn-pad btn btn-danger" style="width: 100px;"><a href="https://www.citystasher.com/listings/victoria-left-luggage-hanover-hotel-247" title="Victoria StashPoint - Left Luggage at Hanover Hotel (24/7)" style="color: white !important;"><b>Book</b></a></button>                                    <a href="https://www.citystasher.com/signin">
                                        <div class="favorite"><i class="fa fa-heart-o"></i><i class="fa fa-heart fav_bg"></i></div>
                                    </a>
                                </div>                            </div>
                        </div>